@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
  margin: 0;
  font-family: Roboto;
  color: rgb(41, 42, 39);
}
.navbar{
padding: 20px;
display: flex;
align-items: center;
max-width: 600px;
margin: 0 auto;
border-bottom: 1px solid #f2f2f2;
}
.navbar h1{
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: #f1356d;
}
/* .content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} */
.blog-preview h2{
  font-size: 20px;
  color:#f1356d;
border-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}
.create-blog{
  margin-left: 500px;
  align-items: center;
  align-content: center;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create-blog label{
  text-align: left;
  display: block;
}
.create-blog h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create-blog input, .create-blog textarea, .create-blog select{
  width:100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create-blog button{
  background: rgb(44, 247, 44);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-details button{
  background: #f1356d;
  color: #fff;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  padding: 6px;
}

.blog-details div{
  margin:20px 0;
}

.blog-details{
  margin: auto 0;
  margin-left: 350px;
  margin-right: 450px;
  margin-top: 20px;
  border-width: 20px;
  border: 1px solid rgb(217, 210, 210);
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 15px;
}